
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=


#OBJECT STORAGE (MinIO / S3 Compatible)
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=
S3_REGION=

NEXT_PUBLIC_S3_ENDPOINT=
S3_ENDPOINT=


NODE_ENV=

# NEXTAUTH_SECRET="your_nextauth_secret"
# NEXTAUTH_URL="http://localhost:3000"